---
import { db, Category } from "astro:db";
import Layout from "../layouts/Layout.astro";

const categories = await db.select().from(Category).all();
---
<Layout title="Testing stuff">
	<h1>Astro</h1>
	<ul>
		{categories.map((category) => (
			<li>{category.id} {category.name}</li>
		))}
	</ul>
</Layout>
